---
layout: default
title: About
---
<!-- About start -->
<section
  class="my-12"
  id="about"
>
  {% if site.include_element.picture %}
    <!-- Picture -->
    <div class="grid grid-cols-1 justify-items-center">
      <img
        class="w-80 rounded-full"
        src="{{ '/assets/img/picture.jpg' | relative_url }}"
        alt=""
      >
    </div>
  {% endif %}

  <!-- Author -->
  <div class="mb-12 mt-8 grid grid-cols-1 justify-items-center">
    <h1 class="text-4xl font-bold xs:text-5xl">
      {{ site.author }}
    </h1>
  </div>

  {% if site.include_section.about %}
    <!-- Header -->
    <div
      class="flex flex-col justify-between border-b-2 border-neutral-350 dark:border-neutral-550 xs:flex-row"
    >
      <div class="border-b-2 border-neutral-350 pb-1 dark:border-neutral-550 xs:border-none">
        <h2 class="text-[24px] font-light leading-none sm:text-[28px]">
          {{ site.data.about.title }}
        </h2>
      </div>

      <ul class="my-[6px] flex justify-center space-x-2 xs:my-0 xs:-translate-y-1 xs:justify-normal sm:translate-y-0">
        {% if site.include_element.contact %}
          <!-- Email -->
          <li>
            {% assign url = 'mailto:' | append: site.email %}
            {% assign icon = 'icons/ui/at-symbol.svg' %}
            {% assign to_color = 'stroke' %}
            {% assign target = null %}
            {% assign rel = null %}
            {% include components/url-icon.html %}
          </li>
        {% endif %}
        {% if site.include_element.platforms %}
          <!-- Social media and development platforms -->
          {% for platform in site.platforms %}
            {% case platform.platform %}
              {% when 'github' %}
                {% assign height = 28 %}
                {% assign margin-bottom = -2 %}
              {% else %}
                {% assign height = null %}
                {% assign margin-bottom = null %}
            {% endcase %}
            <li>
              {% assign url = platform.link %}
              {% assign icon = 'icons/ui/'
                | append: platform.platform
                | append: '.svg'
              %}
              {% assign to_color = 'fill' %}
              {% assign target = '_blank' %}
              {% assign rel = 'noopener noreferrer' %}
              {% include components/url-icon.html %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <!-- Intro -->
    <p class="hyphen-auto mt-6 leading-snug">{{ site.data.about.intro }}</p>
  {% endif %}
</section>
<!-- About end -->
