---
layout: default
title: Home
---
<!-- About -->
<section
  class="mb-12"
  id="about"
>
  {% if site.include_element.picture %}
    <!-- Picture -->
    <div class="mt-8 grid grid-cols-1 justify-items-center">
      <img
        class="w-80 rounded-full"
        src="{{ '/assets/img/picture.jpg' | relative_url }}"
        alt=""
      >
    </div>
  {% endif %}

  <!-- Author -->
  <div class="mb-12 mt-8 grid grid-cols-1 justify-items-center">
    <h1 class="text-5xl font-bold">{{ site.author }}</h1>
  </div>

  {% if site.include_section.about %}
    <!-- Header -->
    <div
      class="flex justify-between border-b-2 border-neutral-350 dark:border-neutral-550"
    >
      <div class="pb-1">
        <span class="text-[28px] font-light leading-none">
          {{- site.data.about.title -}}
        </span>
      </div>

      <ul class="flex space-x-2">
        {% if site.include_element.contact %}
          <!-- Email -->
          <li>
            <a
              class="flex h-7 w-7 items-center justify-center rounded-full bg-neutral-350 text-neutral-100 transition duration-100 ease-in-out hover:bg-neutral-900 dark:bg-neutral-550 dark:text-neutral-800 dark:hover:bg-neutral-100"
              href="mailto:{{ site.email }}"
              rel="noopener noreferrer"
            >
              <i class="fa-solid fa-envelope font-normal leading-none"></i>
            </a>
          </li>
        {% endif %}
        {% if site.include_element.platforms %}
          {% for platform in site.platforms %}
            {% if platform.platform == 'github' %}
              <li>
                <a
                  class="flex h-7 w-7 items-center justify-center rounded-full text-neutral-350 transition duration-100 ease-in-out hover:text-neutral-900 dark:text-neutral-550 dark:hover:text-neutral-100"
                  href="{{ platform.link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i
                    class="text-[28px] leading-none font-normal fa-brands fa-{{ platform.platform }}"
                  ></i>
                </a>
              </li>
            {% else %}
              <li>
                <a
                  class="flex h-7 w-7 items-center justify-center rounded-full bg-neutral-350 text-neutral-100 transition duration-100 ease-in-out hover:bg-neutral-900 dark:bg-neutral-550 dark:text-neutral-800 dark:hover:bg-neutral-100"
                  href="{{ platform.link }}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i
                    class="leading-none font-normal fa-brands fa-{{ platform.platform }}{% if platform.platform == 'linkedin' %}-in{% endif %}"
                  ></i>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    <!-- Intro -->
    <p class="hyphen-auto mt-6 leading-snug">{{ site.data.about.intro }}</p>
  {% endif %}
</section>

{% if site.include_section.experience %}
  <!-- Experience -->
  <section
    class="mb-12"
    id="experience"
  >
    <!-- Header -->
    <div class="border-b-2 border-neutral-350 pb-1 dark:border-neutral-550">
      <span class="text-[28px] font-bold leading-none">Experience</span>
    </div>

    <!-- Content -->
    <div class="mt-6 grid grid-cols-1 gap-4 leading-snug">
      {% for job in site.data.experience %}
        <div
          class="rounded border bg-neutral-50 p-4 shadow-sm dark:border-neutral-800 dark:bg-neutral-750"
        >
          <!-- Position -->
          <h3 class="mb-2 text-xl font-normal leading-4">{{ job.position }}</h3>

          <!-- Employer -->
          <h4 class="mb-2 text-lg font-bold">{{ job.company }}</h4>

          <!-- Details -->
          <div class="mb-3 grid grid-cols-3 gap-4">
            {% if job.duration %}
              <!-- Duration -->
              <div class="grid grid-cols-[16px,auto] gap-1 leading-4">
                <p><i class="fa-regular fa-calendar"></i></p>
                <p>{{ job.duration }}</p>
              </div>
            {% endif %}
            {% if job.location %}
              <!-- Location -->
              <div class="grid grid-cols-[16px,auto] gap-1 leading-4">
                <p><i class="fa-solid fa-location-dot"></i></p>
                <p>{{ job.location }}</p>
              </div>
            {% endif %}
            {% if job.contract %}
              <!-- Contract type -->
              <div class="grid grid-cols-[16px,auto] gap-1 leading-4">
                <p><i class="fa-solid fa-file-signature"></i></p>
                <p>{{ job.contract }}</p>
              </div>
            {% endif %}
          </div>

          {% if job.summaries %}
            <!-- Summary -->
            <ul class="grid list-disc grid-cols-1 gap-1 pl-5">
              {% for summary in job.summaries %}
                <li class="leading-snug">{{ summary }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if job.url %}
            <!-- Link -->
            <div class="mt-2 flex items-center justify-center">
              <a
                class="focus:shadow-outline-neutral dark:hover:neutral-650 dark:focus:shadow-outline-dark inline-flex cursor-pointer select-none items-center rounded border border-neutral-150 bg-neutral-150 px-4 py-2 text-neutral-900 transition duration-150 ease-in-out hover:border-neutral-200 hover:bg-neutral-200 focus:border-neutral-200 focus:outline-none active:border-neutral-350 dark:border-neutral-700 dark:bg-neutral-700 dark:text-neutral-100 dark:hover:bg-neutral-650 dark:focus:border-neutral-650 dark:active:border-neutral-550"
                href="{{ job.url }}"
                target="_blank"
              >
                <i class="fa-solid fa-link mr-2"></i>
                View Project
              </a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
{% if site.include_section.education %}
  <!-- Education -->
  <section
    class="mb-12"
    id="education"
  >
    <!-- Header -->
    <div class="border-b-2 border-neutral-350 pb-1 dark:border-neutral-550">
      <span class="text-[28px] font-bold leading-none">Education</span>
    </div>

    <!-- Content -->
    <div class="mt-6 grid grid-cols-1 gap-4 leading-snug">
      {% for degree in site.data.education %}
        <div
          class="rounded border bg-neutral-50 p-4 shadow-sm dark:border-neutral-800 dark:bg-neutral-750"
        >
          <!-- Degree -->
          <h3 class="mb-2 text-xl font-normal leading-4">
            {{ degree.degree }}
          </h3>

          <!-- University -->
          <h4 class="mb-2 text-lg font-bold">{{ degree.uni }}</h4>

          <!-- Details -->
          <div class="mb-3 grid grid-cols-3 gap-4">
            {% if degree.year %}
              <!-- Year -->
              <div class="grid grid-cols-[16px,auto] gap-1 leading-4">
                <p><i class="fa-regular fa-calendar"></i></p>
                <p>{{ degree.year }}</p>
              </div>
            {% endif %}
            {% if degree.location %}
              <!-- Location -->
              <div class="grid grid-cols-[16px,auto] gap-1 leading-4">
                <p><i class="fa-solid fa-location-dot"></i></p>
                <p>{{ degree.location }}</p>
              </div>
            {% endif %}
          </div>

          <!-- Thesis details -->
          <div class="grid grid-cols-[110px,auto] gap-1">
            {% if degree.thesis.title %}
              <!-- Thesis title -->
              <p class="leading-snug"><b>Thesis title:</b></p>
              <p class="leading-snug">"{{ degree.thesis.title }}"</p>
            {% endif %}
            {% if degree.thesis.supervisors %}
              <!-- Thesis supervisors -->
              <p class="leading-snug"><b>Supervisors:</b></p>
              <p class="leading-snug">{{ degree.thesis.supervisors }}</p>
            {% endif %}
          </div>

          {% if degree.thesis.pdf %}
            <!-- Link -->
            <div class="mt-2 flex items-center justify-center">
              <a
                class="modal-identifier focus:shadow-outline-neutral dark:hover:neutral-650 dark:focus:shadow-outline-dark inline-flex cursor-pointer select-none items-center rounded border border-neutral-150 bg-neutral-150 px-4 py-2 text-neutral-900 transition duration-150 ease-in-out hover:border-neutral-200 hover:bg-neutral-200 focus:border-neutral-200 focus:outline-none active:border-neutral-350 dark:border-neutral-700 dark:bg-neutral-700 dark:text-neutral-100 dark:hover:bg-neutral-650 dark:focus:border-neutral-650 dark:active:border-neutral-550"
                data-modal-id="modal_degree_{{ forloop.index }}"
              >
                <i class="fa-regular fa-file-pdf mr-2"></i>
                View Thesis
              </a>
            </div>

            <!-- Modal -->
            <div
              class="modal fixed left-0 top-0 z-[100] hidden h-full w-full bg-black/70"
              id="modal_degree_{{ forloop.index }}"
            >
              <div
                class="modal-overlay relative left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform"
                style="width: calc(100vw - 100px); height: calc(100vh - 100px)"
              >
                <span
                  class="modal-close-btn ease absolute right-0 top-[-30px] transform cursor-pointer text-3xl font-bold text-white duration-100 hover:text-red-500"
                  data-modal-close-id="modal_degree_{{ forloop.index }}"
                  >&times;</span
                >
                <iframe
                  src="assets/pdf/{{ degree.thesis.pdf }}"
                  width="100%"
                  height="100%"
                ></iframe>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
{% if site.include_section.projects %}
  <!-- Projects -->
  <section
    class="mb-12"
    id="projects"
  >
    <!-- Header -->
    <div class="border-b-2 border-neutral-350 pb-1 dark:border-neutral-550">
      <span class="text-[28px] font-bold leading-none">Recent Projects</span>
    </div>

    <!-- Content -->
    <div class="mt-6 grid grid-cols-1 gap-6"></div>
  </section>
{% endif %}
{% if site.include_section.skills %}
  <!-- Skills -->
  <section
    class="mb-12"
    id="skills"
  >
    <!-- Header -->
    <div class="border-b-2 border-neutral-350 pb-1 dark:border-neutral-550">
      <span class="text-[28px] font-bold leading-none">Skills</span>
    </div>

    <!-- Content -->
    <div class="mt-6 grid grid-cols-1 gap-6">
      {% for category in site.data.skills %}
        <div>
          <!-- Category -->
          <h3 class="mb-4 text-xl font-normal leading-none">
            {{ category.category }}
          </h3>

          <!-- Skills -->
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
            <!-- Sort skills by proficiency in descending order -->
            {% assign sorted_skills = category.items
              | sort: 'proficiency'
              | reverse
            %}
            {% for skill in sorted_skills %}
              <div
                class="group rounded border bg-neutral-50 p-8 shadow-sm dark:border-neutral-800 dark:bg-neutral-750"
              >
                <div
                  class="transition duration-150 ease-in-out hover:cursor-pointer hover:blur-[6px]"
                >
                  <div class="relative h-10">
                    <!-- Icon -->
                    {% if skill.icon.org == 'local' %}
                      {%
                        include {{ skill.icon.icon
                        }}
                      %}
                    {% elsif skill.icon.org == 'fontawesome' %}
                      <i
                        class="float-right mr-1 text-[40px] leading-none {{ skill.icon.icon }}"
                      ></i>
                    {% endif %}

                    <!-- Title -->
                    <h4
                      class="absolute bottom-0 left-1 text-lg font-bold leading-none"
                    >
                      {{ skill.skill }}
                    </h4>
                  </div>

                  <!-- Proficiency bar -->
                  <div class="mt-2 h-4 rounded bg-gray-200 dark:bg-gray-600">
                    <div
                      class="h-full rounded-l bg-lime-500"
                      style="width: {{ skill.proficiency }}%;"
                    ></div>
                  </div>
                </div>

                <!-- Modal button -->
                {% if skill.description %}
                  <a
                    class="modal-identifier hidden cursor-pointer select-none items-center group-hover:inline-flex"
                    id
                    data-modal-id="modal_skill_{{ skill.skill }}"
                  >
                    Click to view more!
                  </a>
                {% endif %}
              </div>

              {% if skill.modal %}
                <!-- Modal -->
                <div
                  class="modal fixed left-0 top-0 z-[100] hidden h-full w-full bg-black/70"
                  id="modal_skill_{{ skill.skill }}"
                >
                  <div
                    class="modal-overlay relative left-1/2 top-1/2 max-h-fit max-w-3xl -translate-x-1/2 -translate-y-1/2 transform rounded py-8"
                  >
                    <span
                      class="modal-close-btn ease absolute right-2 top-2 transform cursor-pointer text-3xl font-bold text-white duration-100 hover:text-red-500"
                      data-modal-close-id="modal_skill_{{ skill.skill }}"
                      >&times;</span
                    >
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
{% if site.include_section.recognition %}
  <!-- Recognition -->
  <section
    class="mb-12"
    id="recognition"
  >
    <!-- Header -->
    <div class="border-b-2 border-neutral-350 pb-1 dark:border-neutral-550">
      <span class="text-[28px] font-bold leading-none">Recognition</span>
    </div>

    <!-- Content -->
    <div class="grid grid-cols-1 justify-items-center gap-y-6">
      {% for recognition in site.data.recognitions %}
        <div class="py-6">
          <!-- Translation Button -->
          <div class="relative h-[30px]">
            {% if recognition.translation %}
              <button
                class="translate-btn focus:shadow-outline-neutral dark:hover:neutral-650 dark:focus:shadow-outline-dark absolute bottom-[-1px] right-5 h-[30px] w-[145px] rounded-t border-x border-t border-neutral-175 bg-neutral-175 text-neutral-900 transition duration-150 ease-in-out hover:border-neutral-200 hover:bg-neutral-200 focus:border-neutral-200 focus:outline-none active:border-neutral-350 dark:border-neutral-700 dark:bg-neutral-700 dark:text-neutral-100 dark:hover:bg-neutral-650 dark:focus:border-neutral-650 dark:active:border-neutral-550"
                iframe_recognition_id="iframe_recognition_id_{{ forloop.index }}"
              >
                Show Translation
              </button>
            {% endif %}
          </div>

          <!-- Post -->
          <div
            class="relative rounded border bg-white text-black shadow-sm dark:bg-white dark:text-black"
            style="width: {{ recognition.width }}px; height: {{ recognition.height }}px;"
          >
            <iframe
              class="absolute inset-0 h-full w-full overflow-hidden rounded border-none"
              id="post_iframe_recognition_id_{{ forloop.index }}"
              src="{{ recognition.url }}"
              scrolling="no"
            ></iframe>

            <!-- Translation -->
            {% if recognition.translation %}
              <div
                class="absolute inset-0 top-[76px] hidden w-full overflow-hidden border-none bg-white text-black dark:bg-white dark:text-black"
                id="translation_iframe_recognition_id_{{ forloop.index }}"
                style="height: {{ recognition.height_text }}px;"
                scrolling="no"
              >
                <p class="px-4 py-0 font-sans text-sm leading-normal">
                  {{ recognition.translation }}
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}
