<div
  class="hidden transition-opacity duration-300 ease-in-out aria-selected:block data-[sidenav-enabled=true]:w-[calc(100vw-158px)] sm:data-[sidenav-enabled=true]:w-[min(calc(100vw-274px),468px)]"
  role="tabpanel"
  id="{{ id }}"
  aria-labelledby="tab-{{ id }}"
  {% if first == true and (category.categories == null or subcategory.categories == null) %}
    aria-selected="true"
    {% assign first = false %}
  {% else %}
    aria-selected="false"
  {% endif %}
  {% if height == null %}
    data-sidenav-enabled="false"
  {% else %}
    data-sidenav-enabled="true"
  {% endif %}
>
  {% for topic in topics %}
    <div class="{% unless forloop.last %}mb-3{% endunless %}">
      {% if topic.subtitle %}
        <!-- Subtitle -->
        <h6 class="text-sm font-semibold">
          {{ topic.subtitle }}
        </h6>
      {% endif %}
      {% if topic.description %}
        <!-- Description -->
        <p class="text-sm italic{% if topics.size > 1 %} pb-2 w-full border-b border-dashed border-neutral-250 dark:border-neutral-650{% endif %}">
          {{ topic.description }}
        </p>
      {% endif %}
      {% if topic.utils %}
        <!-- Packages, libraries, repositories, etc. -->
        <div>
          {% for util in topic.utils %}
            <span class="mt-1 inline-block rounded-full bg-neutral-200 px-4 py-[6px] text-xs font-medium leading-normal text-neutral-700 shadow-sm dark:bg-neutral-600 dark:text-neutral-200">
              {{ util }}
            </span>
          {% endfor %}
        </div>
      {% endif %}
      {% if topic.topics %}
        {% assign topics = topic.topics %}
        {% if recursion == null %}
          {% assign recursion = 'True' %}
        {% endif %}
        {% include components/skill_topic.html %}
      {% endif %}
    </div>
  {% endfor %}
</div>
