<dialog
  class="group/modal fixed inset-0 z-50 origin-center translate-y-0 overflow-hidden rounded border bg-white bg-clip-padding text-current opacity-100 outline-none transition-[visibility,_transform,_opacity] delay-0 duration-[0ms,_300ms,_300ms] ease-[linear,swing,in-out] backdrop:bg-black/50 backdrop:backdrop-blur backdrop:transition-backdrop backdrop:duration-300 aria-hidden:-translate-y-10 aria-hidden:opacity-0 aria-hidden:delay-[300ms,_0ms,_0ms,_0ms] aria-hidden:backdrop:bg-black/0 aria-hidden:backdrop:backdrop-blur-none dark:border-neutral-750 dark:bg-neutral-800"
  role="modal"
  id="modal_skill_{{ skill_id }}"
  tabindex="-1"
  aria-labelledby="modal_skill_{{ skill_id }}_label"
  aria-hidden="true"
>
  <div
    class="max-w-700"
    role="modal-content"
  >
    <!-- Modal header -->
    <div
      class="relative flex flex-row items-center justify-between rounded-t border-b border-neutral-250 p-4 dark:border-neutral-650 dark:border-opacity-50"
    >
      <!-- Title -->
      <h4
        class="mr-auto text-lg font-bold leading-none"
      >
        {{ skill.skill }}
      </h4>

      <!-- Icon -->
      <span class="fill:text-neutral-650 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 fill-neutral-250 text-neutral-250 dark:text-neutral-650 [&>svg]:h-auto [&>svg]:max-h-10 [&>svg]:w-16">
        {% include {{ skill.icon }} %}
      </span>

      <!-- Close button -->
      <span
        class="box-content rounded-none border-none hover:cursor-pointer hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
        type="button"
        role="modal-close"
        aria-controls="modal_skill_{{ skill_id }}"
        tabindex="0"
      >
        <span class="flex h-5 w-5 items-center justify-center">
          {% include icons/ui/x.svg %}
        </span>
      </span>
    </div>

    <!-- Modal body -->
    <div
      class="relative flex flex-row p-4{% if skill.categories.size > 1 %}{% endif %}"
    >
      {% if skill.categories.size > 1 %}
        {% assign height = 0 %}
        {% for category in skill.categories %}
          {% if forloop.first %}
            {% assign height = height | plus: 48 %}
          {% else %}
            {% assign height = height | plus: 52 %}
          {% endif %}
          {% if category.categories %}
            {% for subcategory in category.categories %}
              {% assign height = height | plus: 36 %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        <!-- Categories navigation -->
        {% include components/descmodal-sidenav.html %}
      {% else %}
        {% assign height = null %}
      {% endif %}

      <!-- Categories content -->
      <div
        class="relative flex max-h-[calc(100vh-127px)] flex-nowrap overflow-x-hidden"
        id="tabpanel-container-skill-{{ skill_id }}"
        role="tabpanel-container"
        data-overlayscrollbars-initialize
      >
        {% assign first = true %}
        {% for category in skill.categories %}
          {% assign category_id = category.title
            | downcase
            | replace: ' ', '-'
            | replace: '&', 'and'
          %}
          {% unless category.categories %}
            {% assign topics = category.topics %}
            {% assign id = 'tabpanel-skill-'
              | append: skill_id
              | append: '-'
              | append: category_id
            %}
            {% include components/descmodal-tabpanel.html %}
          {% else %}
            {% for subcategory in category.categories %}
              {% assign subcategory_id = subcategory.title
                | downcase
                | replace: ' ', '-'
                | replace: '&', 'and'
              %}
              {% assign topics = subcategory.topics %}
              {% assign id = 'tabpanel-skill-'
                | append: skill_id
                | append: '-'
                | append: category_id
                | append: '-'
                | append: subcategory_id
              %}
              {% include components/descmodal-tabpanel.html %}
            {% endfor %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</dialog>
