<div
  data-te-modal-init
  class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
  id="modal_skill_{{ skill_id }}"
  tabindex="-1"
  aria-labelledby="modal_skill_{{ skill_id }}_label"
  aria-hidden="true"
>
  <div
    data-te-modal-dialog-ref
    class="pointer-events-none relative mx-auto mt-7 flex min-h-[calc(100%-3.5rem)] w-fit max-w-[700px] translate-y-[-50px] items-center px-4 opacity-0 transition-all duration-300"
  >
    <div
      class="shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded border bg-white bg-clip-padding text-current shadow-lg outline-none dark:border-neutral-750 dark:bg-neutral-800"
    >
      <!-- Modal header -->
      <div
        class="relative flex flex-row items-center justify-between rounded-t border-b border-neutral-250 p-4 dark:border-neutral-650 dark:border-opacity-50"
      >
        <!-- Title -->
        <h4
          class="mr-auto text-lg font-bold leading-none"
        >
          {{ skill.skill }}
        </h4>

        <!-- Icon -->
        <span class="fill:text-neutral-650 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 fill-neutral-250 text-neutral-250 dark:text-neutral-650 [&>*]:h-auto [&>*]:max-h-10 [&>*]:w-16">
          {% if skill.icon.org == 'local' %}
            {% include {{ skill.icon.icon }} %}
          {% elsif skill.icon.org == 'fontawesome' %}
            <i
              class="text-[40px] leading-none {{ skill.icon.icon }}"
            ></i>
          {% endif %}
        </span>

        <!-- Close button -->
        <span
          type="button"
          class="box-content rounded-none border-none hover:cursor-pointer hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
          data-te-modal-dismiss
          aria-label="Close"
        >
          <span class="flex h-5 w-5 items-center justify-center">
            {% include icons/ui/x.svg %}
          </span>
        </span>
      </div>

      <!-- Modal body -->
      <div
        class="relative flex flex-row space-x-2 p-4{% if skill.categories.size > 1 %}{% endif %}"
        data-te-modal-body-ref
      >
        {% if skill.categories.size > 1 %}
          {% assign height = 0 %}
          {% for category in skill.categories %}
            {% assign height = height | plus: 48 %}
            {% unless forloop.first %}
              {% assign height = height | plus: 4 %}
            {% endunless %}
            {% if category.categories %}
              {% for subcategory in category.categories %}
                {% assign height = height | plus: 32 | plus: 4 %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          <!-- Categories navigation -->
          {% include components/descmodal-sidenav.html %}
        {% endif %}

        <!-- Categories content -->
        <div
          data-tab-container
          class="relative flex"
        >
          {% assign first = true %}
          {% for category in skill.categories %}
            {% assign category_id = category.title
              | downcase
              | replace: ' ', '-'
              | replace: '&', 'and'
            %}
            {% if category.categories == null %}
              {% assign topics = category.topics %}
              {% assign tab-id = 'tab-skill-'
                | append: skill_id
                | append: '-'
                | append: category_id
              %}
              {% include components/descmodal-tab.html %}
            {% endif %}
            {% if category.categories %}
              {% for subcategory in category.categories %}
                {% assign subcategory_id = subcategory.title
                  | downcase
                  | replace: ' ', '-'
                  | replace: '&', 'and'
                %}
                {% assign topics = subcategory.topics %}
                {% assign tab-id = 'tab-skill-'
                  | append: skill_id
                  | append: '-'
                  | append: category_id
                  | append: '-'
                  | append: subcategory_id
                %}
                {% include components/descmodal-tab.html %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
