<!-- Main navigation container -->
<nav
  class="navbar-header relative flex w-full items-center justify-between bg-neutral-200/80 py-2 shadow-lg backdrop-blur transition duration-300 ease-linear focus:text-neutral-700 aria-expanded:bg-neutral-180 dark:bg-neutral-900/80 dark:focus:text-neutral-700 dark:aria-expanded:bg-neutral-880 xs:aria-expanded:bg-neutral-200/80 xs:dark:aria-expanded:bg-neutral-900/80"
  aria-expanded="false"
>
  <div
    class="mx-auto flex w-full max-w-3xl flex-wrap items-center justify-between self-center px-4"
  >
    <a
      class="[&>svg]:w-[32px] [&>svg]:fill-neutral-900 [&>svg]:dark:fill-neutral-100"
      href="/"
    >
      {% include logos/small.svg %}
    </a>

    <!-- Hamburger button for mobile view -->
    <span
      class="group flex border-0 bg-transparent px-2 text-neutral-900 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-100 xs:hidden"
      role="navbar-toggle"
      aria-controls="navbarHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="my-auto flex h-5 w-5 scale-100 items-center justify-center opacity-100 duration-300 ease-in group-aria-expanded:scale-50 group-aria-expanded:opacity-0 group-aria-expanded:ease-out"
      >
        {% include icons/ui/bars.svg %}
      </span>
      <span
        class="my-auto -ml-5 flex h-5 w-5 scale-50 flex-row items-center justify-center opacity-0 duration-300 ease-out group-aria-expanded:scale-100 group-aria-expanded:opacity-100 group-aria-expanded:ease-in"
      >
        {% include icons/ui/x.svg %}
      </span>
    </span>

    <!-- Collapsible navbar container -->
    <div
      class="!visible hidden flex-grow basis-[100%] items-center xs:mt-0 xs:!flex xs:basis-auto"
      id="navbarHeader"
    >
      <!-- Left -->
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 xs:mt-1 xs:flex-row"
      >
        <!-- Resume link -->
        <li
          class="mb-4 mt-6 pl-2 xs:my-0 xs:ml-4 xs:pl-2 xs:pr-1"
        >
          <a
            class="p-0 text-[16px] text-neutral-900 transition duration-200 ease-in-out hover:text-neutral-550 active:text-neutral-450 disabled:text-black/30 dark:text-neutral-100 dark:hover:text-neutral-350 dark:active:text-neutral-450"
            href="/"
            >Resume</a
          >
        </li>
        <!-- Portfolio link -->
        <li
          class="mb-4 pl-2 xs:mb-0 xs:ml-4 xs:pl-0 xs:pr-1"
        >
          <a
            class="p-0 text-neutral-900 transition duration-200 ease-in-out hover:text-neutral-550 active:text-neutral-450 disabled:text-black/30 dark:text-neutral-100 dark:hover:text-neutral-350 dark:active:text-neutral-450"
            href="/projects/"
            data-te-nav-link-ref
            >Portfolio</a
          >
        </li>
      </ul>

      <!-- Right -->
      <div class="flex flex-grow-0 items-center">
        <ul
          class="list-style-none mr-auto flex flex-grow flex-col pl-0 xs:flex-row"
        >
          <li
            class="mb-4 flex h-6 w-full items-center pl-2 xs:my-0 xs:ml-4 xs:w-auto xs:pl-2 xs:pr-1"
          >
            {% include components/theme-toggle.html %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
