<!-- Theme toggle with SVG switching -->
<label
  for="theme-toggle"
  class="relative flex h-6 w-4 cursor-pointer items-center justify-center text-neutral-900 hover:text-neutral-550 active:text-neutral-450 disabled:text-black/30 dark:text-neutral-100 dark:hover:text-neutral-350 dark:active:text-neutral-450 xs:m-0 xs:p-0"
>
  <input
    id="theme-toggle"
    class="peer hidden"
    type="checkbox"
  >
  <span
    id="sun-icon"
    class="theme-icon my-auto flex h-5 w-5 rotate-0 items-center justify-center opacity-100 duration-0 ease-linear peer-checked:rotate-45 peer-checked:opacity-0"
  >
    {% include icons/sun.html %}
  </span>
  <span
    id="moon-icon"
    class="theme-icon my-auto -ml-5 flex h-5 w-5 rotate-45 items-center justify-center opacity-0 duration-0 ease-linear peer-checked:rotate-0 peer-checked:opacity-100"
  >
    {% include icons/moon.html %}
  </span>
</label>
