<!doctype html>
<html>
  <!-- Head -->
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >

    <title>{{ site.title }}</title>

    <link
      rel="stylesheet"
      href="{{ '/assets/css/main.css' | relative_url }}"
    >
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.2/css/all.css"
    >
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ '/favicon.svg' | relative_url }}"
    >

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>

  <body
    class="flex min-h-screen flex-col overflow-y-scroll bg-neutral-100 text-neutral-900 scrollbar-thin scrollbar-track-neutral-300 scrollbar-thumb-neutral-400 scrollbar-thumb-rounded-md hover:scrollbar-thumb-neutral-500 dark:bg-neutral-800 dark:text-neutral-100 dark:scrollbar-track-neutral-700 dark:scrollbar-thumb-neutral-600"
  >
    <!-- Header -->
    <header
      class="sticky top-0 z-50 bg-neutral-200/80 shadow-md backdrop-blur dark:bg-neutral-900/80"
    >
      <div
        class="container mx-auto flex items-center justify-between px-4 py-2"
      >
        <!-- Site -->
        <a
          class="text-lg font-bold text-neutral-900 hover:underline dark:text-neutral-100"
          href="/"
        >
          {{- site.title -}}
        </a>

        <!-- Menu -->
        <nav class="flex space-x-2">
          <!-- Pages -->
          <a
            class="focus:shadow-outline-neutral dark:focus:shadow-outline-dark inline-flex cursor-pointer select-none items-center rounded border border-white/0 bg-white/0 px-2 py-1 text-neutral-900 transition duration-150 ease-in-out hover:border-neutral-250 hover:bg-neutral-250 focus:border-neutral-250 focus:outline-none active:border-neutral-300 dark:border-neutral-900/0 dark:bg-neutral-900/0 dark:text-neutral-100 dark:hover:border-neutral-850 dark:hover:bg-neutral-850 dark:focus:border-neutral-850 dark:active:border-neutral-800"
            href="/"
            >Home</a
          >
          {% if site.include_section.projects -%}
            <a
              class="focus:shadow-outline-neutral dark:focus:shadow-outline-dark inline-flex cursor-pointer select-none items-center rounded border border-white/0 bg-white/0 px-2 py-1 text-neutral-900 transition duration-150 ease-in-out hover:border-neutral-250 hover:bg-neutral-250 focus:border-neutral-250 focus:outline-none active:border-neutral-300 dark:border-neutral-900/0 dark:bg-neutral-900/0 dark:text-neutral-100 dark:hover:border-neutral-850 dark:hover:bg-neutral-850 dark:focus:border-neutral-850 dark:active:border-neutral-800"
              href="/projects"
              >Projects</a
            >
          {%- endif %}
          <div class="flex items-center justify-center">
            <div
              class="h-6 border-r border-neutral-300 dark:border-neutral-800"
            ></div>
          </div>

          <!-- Theme toggle -->
          <button
            class="focus:shadow-outline-neutral dark:focus:shadow-outline-dark flex h-[34px] w-[34px] cursor-pointer select-none items-center justify-center rounded border border-white/0 bg-white/0 px-1 py-1 text-neutral-900 transition duration-150 ease-in-out hover:border-neutral-250 hover:bg-neutral-250 focus:outline-none active:border-neutral-300 dark:border-neutral-900/0 dark:bg-neutral-900/0 dark:text-neutral-100 dark:hover:border-neutral-850 dark:hover:bg-neutral-850 dark:active:border-neutral-800"
            id="themeToggle"
          >
            <script type="text/javascript">
              document.write(
                document.documentElement.classList.contains('dark')
                  ? '<i class="fa-solid fa-moon"></i>'
                  : '<i class="fa-solid fa-sun"></i>'
              );
            </script>
          </button>
        </nav>
      </div>
    </header>

    <!-- Content -->
    <main class="mx-auto flex max-w-3xl flex-1 flex-col justify-center px-2">
      {{ content }}
    </main>

    <!-- Footer -->
    <footer class="bg-neutral-200/80 dark:bg-neutral-900/80">
      <div class="py-2 text-center">
        &copy; {{ 'now' | date: '%Y' }} Jakob Jersild Nielsen. All rights
        reserved.
      </div>
    </footer>

    <!-- Visitor statistics using clicky -->
    <script
      async
      data-id="101434754"
      src="//static.getclicky.com/js"
    ></script>

    <!-- Scripts -->
    <script src="{{ '/assets/js/app.js' | relative_url }}"></script>
  </body>
</html>
