<!doctype html>
<html>
  <!-- Head -->
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >

    <title>{{ site.title }}</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="{{ '/favicon.svg' | relative_url }}"
      sizes="any"
      type="image/svg+xml"
    >
    <link
      rel="icon"
      href="{{ '/favicon.png' | relative_url }}"
      type="image/png"
    >
    <!-- JQuery -->
    <script
      type="text/javascript"
      src="{{ 'jquery/dist/jquery.min.js' | node_module_url }}"
    ></script>
    <!-- JQuery plugins -->
    <script
      type="text/javascript"
      src="{{ 'jquery-bez/lib/jquery.bez.min.js' | node_module_url }}"
    ></script>
    <!-- OverlayScrollbars -->
    <link
      rel="stylesheet"
      href="{{ 'overlayscrollbars/styles/overlayscrollbars.min.css' | node_module_url }}"
    >
    <script
      type="text/javascript"
      src="{{ 'overlayscrollbars/browser/overlayscrollbars.browser.es6.js' | node_module_url }}"
    ></script>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{{ '@fortawesome/fontawesome-free/css/all.min.css' | node_module_url }}"
    >
    <script
      type="text/javascript"
      src="{{ '@fortawesome/fontawesome-free/js/all.min.js' | node_module_url }}"
    ></script>
    <!-- Isotope -->
    <script
      type="text/javascript"
      src="{{ 'isotope-layout/dist/isotope.pkgd.min.js' | node_module_url }}"
    ></script>
    <!-- CSS styles -->
    <link
      rel="stylesheet"
      href="{{ '/assets/css/main.css' | relative_url }}"
    >
    <script type="text/javascript">
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
        $('.theme-toggle').prop('checked', true);
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>

  <body
    class="relative flex min-h-screen w-full flex-col bg-neutral-100 text-neutral-900 motion-reduce:transition-none dark:bg-neutral-800 dark:text-neutral-100"
    data-overlayscrollbars-initialize
  >
    <!-- Header -->
    {% include components/navbar.html %}

    <!-- Content -->
    <main
      id="main"
      class="os-content mx-auto mt-12 flex max-w-3xl flex-1 flex-col justify-center px-2"
    >
      {{ content }}
    </main>

    <!-- Footer -->
    <footer
      id="footer"
      class="grid grid-cols-1 bg-neutral-180 shadow-inner dark:bg-neutral-880"
    >
      <span
        class="mt-4 flex items-start justify-center [&>svg]:w-[64px] [&>svg]:fill-neutral-900 [&>svg]:dark:fill-neutral-100"
      >
        {% include logos/large.svg %}
      </span>
      <span class="py-2 text-center text-sm">
        Copyright &copy; 2023 — {{ 'now' | date: '%Y' }} Jakob Jersild Nielsen.
        All rights reserved.
      </span>
    </footer>

    <!-- Visitor statistics using clicky -->
    <script
      async
      data-id="101434754"
      src="//static.getclicky.com/js"
    ></script>

    <!-- Scripts -->
    <!--
      <script
        type="text/javascript"
        src="{{ 'tw-elements/dist/js/tw-elements.umd.min.js' | node_module_url }}"
      ></script>
    -->
    <script
      type="module"
      src="{{ '/assets/js/app.js' | relative_url }}"
    ></script>
  </body>
</html>
